<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {% if page.url == "/index.html" %}
        Home
    {% elsif page_type == "category" %}
        {{ category_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
</title>
{% seo %}

<link rel="icon" type="image/png" sizes="32x32" href="{{ site.logo_img | prepend: site.baseurl }}?v=earth-1">
<link rel="shortcut icon" type="image/png" href="{{ site.logo_img | prepend: site.baseurl }}?v=earth-1">
<link rel="apple-touch-icon" href="{{ site.logo_img | prepend: site.baseurl }}?v=earth-1">
<style>
/* Minimalist Vintage: system serif (1970s manual / academic journal feel) */
</style>
<script type="text/javascript">
    document.documentElement.className += " fonts-loaded";
</script>

<meta name="baseurl" content="{{ site.baseurl }}">
<meta
name="description"
content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            processEscapes: true
        },
        options: {
            skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
    };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>