{%- assign list_pages = site.pages | sort:"date" | reverse -%}
<div class="category-page">
    <h2 class="category-title">
        {% if page_level == 1 %}All Posts{% else %}{{ category_title }}{% endif %}
    </h2>
    {% if page.description %}
    <p class="category-description">{{ page.description }}</p>
    {% endif %}
    <ul class="post-list">
    {%- for sub_page in list_pages -%}
        {%- assign page_url = page.url | remove: 'index.html' -%}
        {% if sub_page.url contains page_url %}
        {% unless sub_page.url contains "index.html" %}
            <li class="post-item">
                <a href="{{ sub_page.url | prepend: site.baseurl }}">{{ sub_page.title }}</a>
                {%- assign posting_date = sub_page.date | date: "%Y-%m-%d" -%}
                {% if posting_date != "1900-01-01" %}
                    <time>{{ posting_date }}</time>
                {% endif %}
            </li>
        {% endunless %}
        {% endif %}
    {%- endfor -%}
    </ul>
</div>
