<article class="post">
    <header class="post-header">
        {% if page.title %}
            <h1 class="post-title">{{ page.title }}</h1>
        {% endif %}
        {%- assign posting_date = page.date | date: "%Y-%m-%d" -%}
        {% if posting_date != "1900-01-01" %}
            <time class="post-date">{{ posting_date }}</time>
        {% endif %}
    </header>
    <div class="post-body">
        {{ content }}
    </div>
    {% if site.giscus_repo %}
        <div class="giscus-wrap">
            <script src="https://giscus.app/client.js"
                data-repo="{{ site.giscus_repo }}"
                data-repo-id="{{ site.giscus_repoId }}"
                data-category="{{ site.giscus_category }}"
                data-category-id="{{ site.giscus_categoryId }}"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="light"
                data-lang="ko"
                crossorigin="anonymous"
                async>
            </script>
        </div>
    {% endif %}
</article>
