<!DOCTYPE html>
<html lang="ko">
    {%- assign page_tree = page.path | remove_first: "_pages/" | split: "/" -%}
    {%- assign page_level = page_tree.size -%}
    {% if page_tree.last == "index.md" %}
        {%- assign page_type = "category" -%}
        {%- assign category_title = page.path | remove: 'index.md' | split: "/" | last -%}
    {% else %}
        {%- assign page_type = "post" -%}
    {% endif %}
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
        {% if page_type == "post" %}
            <link rel="stylesheet" href="{{ '/assets/css/highlight.min.css' | prepend: site.baseurl }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
        {% endif %}
    </head>
    <body>
        <div id="app">
            <aside id="sidebar">
                {% include sidebar.html %}
            </aside>
            <main id="content">
                {% if page_type == "category" %}
                    {% if page_level == 1 %}
                        <div class="home-content">{{ content }}</div>
                    {% else %}
                        {% include pagination.html %}
                    {% endif %}
                {% else %}
                    {% include post.html %}
                {% endif %}
            </main>
            {% if page_type == "post" %}
            <nav id="toc" aria-label="목차"></nav>
            {% endif %}
        </div>
        {% if page_type == "post" %}
            <script defer src="{{ '/assets/js/highlight.min.js' | prepend: site.baseurl }}" onload="hljs.highlightAll()"></script>
        {% endif %}
        <script defer src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
    </body>
</html>
